:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  padding: 0 10px; /* Add padding to create space around each link */
}